body {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
  color: #111111;
  padding-bottom: 600px;
}
ul {
  list-style: none;
  padding: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  max-width: 100%;
  display: block;
}

img[src$=".jpg"] {
  border-radius: 4px;
}

h1,
h2,
h3,
h4,
ul,
p,
blockquote {
  margin: 0px;
}
